//ion-content{
   // --ion-background-color: #fefefe;
 // }
  .card{
    background-color: #f6e6b0;
    color: black;
  }
 
  * {box-sizing: border-box;}

.form-inline {  
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.form-inline label {
  margin: 5px 100px 5px 0;
  text-align: center;
}

.center{
  text-align: center;

}

.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.form-inline button {
  padding: 10px 20px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
  cursor: pointer;
}

.form-inline button:hover {
  background-color: royalblue;
}

@media (max-width: 800px) {
  .form-inline input {
    margin: 10px 0;
  }
  
  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
}


.form-inline ion-radio {
  margin: 5px 10px 5px 0;
}

.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}

table, th, td {
  border:1px solid black;
  color: black;
 
}
th{
  background-color: rgb(193, 192, 192);
}
td{
  text-align: center;
}

ion-button{
  text-transform: capitalize;
}
