
  * {
    box-sizing: border-box;
  }
  
  input[type=text], select, textarea {
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  ion-label {
    padding: 10px 10px 10px 0;
    display: inline-block;
  }
  
  ion-button[type=submit] {
    background-color: #04AA6D;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: #04AA6D;
  }
  
  .container {
    border-radius: 10px;
    background-color: #777777;
    padding: 20px;
    color: white;
  }
  
  .col-25 {
    float: left;
    width: 30%;
    margin-top: 5px;
  }
  
  .col-75 {
 
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .card{
    background-color: #f6e6b0;
    color: black;
  }

  

