ion-menu::part(backdrop) {
  background-color: rgba(138, 137, 138, 0.5);
}

ion-menu::part(container) {
  border-radius: 0 20px 20px 0;

  box-shadow: 4px 0px 16px rgba(147, 146, 147, 0.18);
}
ion-card {
  --background: #747373;
  --color: #9efff0;
}

ion-card-title {
  --color: #52ffe4;
}

ion-card-subtitle {
  --color: #d1fff8;
}
ion-img {
  height: 300px;
  width: 500px;
}

ion-card-title{
  color: #ffffff;
  text-align: center;
}
ion-item{
--background:  #c0c0c0;
}
.rasp{
  height: 100px;
  width: 100px;
}
ion-popover ion-content {
  --background: rgb(255, 255, 255);
}
ion-popover::part(backdrop) {
  background-color: rgb(204, 204, 205);
}
ion-popover {
  --background: rgba(40, 173, 218, 0.6);
  --backdrop-opacity: 0.6;
  --box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.6);
  --color: white;
  --width: 300px;
}